.heading{
    margin-top: 60px;
}
.card-title{
    text-align: center;
    color: #ffffff;
}
.video{
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card{
    background: #000000;
    width: 50rem;
    height: 25rem;
}
.btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .footer{
     margin: 20px 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: #ffffff;
 }